/*Container03*/
    /*Popup*/
        .popup-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            display: none;
            justify-content: center;
            align-items: center;
            overflow-y: auto;
            padding: 20px;
            z-index: 999;
        }
        .popup-content {
            width: 100% !important;
            height: 100%;
            background: var(--bs-azul-intermediario);
            color: var(--bs-white);
            padding: 20px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            max-height: 300vh;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
        textarea {
            width: 95%;
            height: 80px;
            min-height: 150px;
            border-radius: 5px;
            padding: 1rem !important;
            resize: vertical;
        }
        #BtnEnvio {
            background: var(--bs-azul-escuro) !important;
            color: var(--bs-white) !important;
            padding: 0.3rem 1rem !important;
            margin-bottom: 1rem !important;
        }
    /*Popup*/
/*Container03*/
#swal2-title {
    padding-top: 1rem !important;
    font-family: OpenSans-Regular !important;
}
.swal2-confirm {
    display: none !important;
}
.swal2-html-container {
    padding: 1rem !important;
    padding-bottom: 3rem !important;
}
#Sweetstrong  {
    text-align: justify !important;
}