/*Container03*/
    /*Popup*/
        .popup-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            display: none;
            justify-content: center;
            align-items: center;
            overflow-y: auto;
            padding: 20px;
            z-index: 999;
        }
        .popup-content {
            width: 100% !important;
            height: 100%;
            background: var(--bs-azul-intermediario);
            color: var(--bs-white);
            padding: 20px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            max-height: 300vh;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
        textarea {
            width: 95%;
            height: 80px;
            min-height: 150px;
            border-radius: 5px;
            padding: 1rem !important;
            resize: vertical;
        }
        #BtnEnvio {
            background: var(--bs-azul-escuro) !important;
            color: var(--bs-white) !important;
            padding: 0.3rem 1rem !important;
            margin-bottom: 1rem !important;
        }
    /*Popup*/
/*Container03*/
/*Container07*/
    .draggable, .draggable02, .draggable03{
        width: 50%;
        text-align: center;
        cursor: grab;
        border-radius: 5px;
    }

    .highlight-drop, .highlight-drop2, .highlight-drop3{
        border: 2px solid green;
        background: #fff;
    }
    .container, .container02, .container03{
        width: 50%;
        height: 50px;
        border: 2px dashed #333;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        position: relative;  /* Faz o container ser um ponto de referência para o posicionamento do item */
    }
/*Container07*/